*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

body{
    height: 100vh;
    background: radial-gradient(rgb(18, 19, 13), rgb(158, 90, 50));
}

#clock{
    font-size: 80px;
    color: #e2b34d;
    text-align: center;
    margin: 0 auto;
    text-shadow:  0 0 10px #e2764c;
    height: 100vh;
    line-height: 100vh;

}

